<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    
    <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/2a93ab338e.css">
    <link rel="stylesheet" href="{{ site.url }}/public/css/likely.css">
    
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/public/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/public/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/public/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/public/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/public/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/public/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/public/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/public/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ site.url }}/public/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ site.url }}/public/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.url }}/public/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ site.url }}/public/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.url }}/public/favicon/mstile-310x310.png" />
    <link rel="shortcut icon" href="{{ site.url }}/public/favicon/favicon.ico">
    
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    
    <meta name="theme-color" content="#4285f4">
	<meta name="msapplication-navbutton-color" content="#4285f4">
	<meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
    
    <!--social-->
    <meta name="twitter:card" content="summary_large_image">
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.title == "Home" %}
    <meta property="og:title" content="{{ site.title }} &middot; {{ site.tagline }}">
    {% else %}
    <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}">
    {% endif %}
    {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
    {% else %}
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.post_photo_path %}
    <meta property="og:image" content="{{ page.post_photo_path }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/public/img/blog.jpg">
    {% endif %}
    {% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% else %}
    <meta property="og:url" content="{{ site.url }}">
    {% endif %}
    
    {% if page.title == "Home" %}
    <meta itemprop="name" content="{{ site.title }} &middot; {{ site.tagline }}">
    {% else %}
    <meta itemprop="name" content="{{ page.title }} &middot; {{ site.title }}">
    {% endif %}
    {% if page.description %}
    <meta itemprop="description" content="{{ page.description }}">
    {% else %}
    <meta itemprop="description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta itemprop="image" content="{{ post.post_photo_path }}">
    {% else %}
    <meta itemprop="image" content="{{ site.url }}/public/img/blog.jpg">
    {% endif %}
    {% if page.url %}
    <meta itemprop="url" content="{{ site.url }}{{ page.url }}">
    {% else %}
    <meta itemprop="url" content="{{ site.url }}">
    {% endif %}
    
    <meta name="google-site-verification" content="{{ site.google-verification }}" />
    <meta name="yandex-verification" content="{{ site.yandex-verification }}" />
    <meta name='wmail-verification' content='{{ site.wmail-verification }}' />
    
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=y/goJOnTvjqr/uKyiEPXNSSvVqUJ0AcoUIfupUo8ccfgsnh/AtTkQIMyaqzYA5VRNkBsFEsoL4uxq/NJmBSiDvyDM6HtlhiY7Qt3UZrUwq5bfM14iPcaLEF0L3XjWbcRCMalZ8yw6wuGZbms9GfXIGn/vXwLx9l1zVCVS6dUnwI-&pixel_id=1000065708';</script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '797038140412586'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=797038140412586&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    
</head>
