<div class="sidebar-right">
    <div id="fixblock" class="promo">
        <h3>News</h3>
    	<p class="sindent">Declare, O Muse! in what ill-fated hour Sprung the fierce strife, from what offended power Latona's son a dire contagion spread, And heap'd the camp with mountains of the dead; The king of men his reverent priest defied, And for the king's offence the people died.</p>
    	<div class="center"><a class="btn" href="#">Фикс Кнопка</a></div>
	</div>
	<div class="subsc">
        <p>Подпишись на обновления блога</p>
        <a target="_blank" href="http://feeds.feedburner.com/bigcpa" class="icon"><i class="fa fa-rss" aria-hidden="true"></i></a>
        <a target="_blank" href="https://vk.com/bigcpa" class="icon"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/acretm" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a target="_blank" href="https://t.me/bigcpa" class="icon"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCPCp_ZnMKEwYdnA_YfOZrZg" class="icon"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=bigcpa', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <input class="email" type="text" placeholder="Введите email" name="email" required />
            <input type="hidden" value="bigcpa" name="uri"/>
            <input type="hidden" name="loc" value="ru_RU"/>
            <input class="btn" type="submit" value="Подписаться" />
        </form>
    </div>
    <div class="sidebar-content">
        <ul>
            {% for theCategory in page.categories %} 
    {% assign popular_posts = site.popular_posts %} 
      {% for page in popular_posts | limit:3 %}
         <li>
         <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
         </li>
      {% endfor %}
{% endfor %}
        </ul>
    </div>
    
</div>