<div class="sidebar-right">
    <div id="fixblock" class="promo">
        <!--<h3></h3>-->
    	<p class="center">Как Делать Деньги в Сети Правильно</p>
    	<div class="center"><a target="_blank" class="btn" href="https://bigcpa.github.io/?utm_source=blog">узнать</a></div>
	</div>
	<div class="subsc">
        <p>Подпишись на обновления блога</p>
        <a target="_blank" href="http://feeds.feedburner.com/bigcpa" class="icon"><i class="fa fa-rss" aria-hidden="true"></i></a>
        <a target="_blank" href="https://vk.com/bigcpa" class="icon"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/acretm" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a target="_blank" href="https://t.me/bigcpa" class="icon"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCPCp_ZnMKEwYdnA_YfOZrZg" class="icon"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=bigcpa', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <input class="email" type="text" placeholder="Введите email" name="email" required />
            <input type="hidden" value="bigcpa" name="uri"/>
            <input type="hidden" name="loc" value="ru_RU"/>
            <input class="btn" type="submit" value="Подписаться" />
        </form>
    </div>
    <div class="sidebar-content">
        <h3>Последние записи</h3>
        <ul class="">
        {% for post in site.posts limit:5 %}
          <li>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
    </div>
    
</div>