---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-date">
        <time datetime="{% include date.html date=post.date %}">
          <i class="fa fa-calendar" aria-hidden="true"></i> {% include date.html date=post.date %} | 
        </time>
        {% for categories in post.categories %}
            Категория: <a href="{{categories}}/">{{ categories }}</a>
        {% endfor %}
        
        {% if post.comments %}
           | <i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>&nbsp;
        {% endif %}
    </div>
    
    {% if post.post_photo_path %}<img class="list-img" src="{{ post.post_photo_path }}" alt="{{ post.title }}">{% endif %}

    <article>
      {{ post.excerpt }}
    <article>
    <div class="post-more">
      <a href="{{ site.baseurl }}{{ post.url }}">Читать далее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Вперед <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  {% else %}
    <span class="pagination-item older">Вперед <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Назад</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Назад</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Назад</span>
  {% endif %}
  
</div>

