---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-date">
        <time datetime="{% include date.html date=post.date %}">
          <i class="fa fa-calendar" aria-hidden="true"></i> {% include date.html date=post.date %} | 
        </time>
        {% for categories in post.categories %}
            <i class="fa fa-folder-o" aria-hidden="true"></i> <a href="{{categories}}/">{{ categories }}</a> | 
        {% endfor %}
        
        {% if site.disqus_shortname %}
          <i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>&nbsp;
        {% endif %}
    </div>
    
    <img class="post-img" src="{{ page.post_photo_path }}" alt="{{ post.title }}">

    <article>
      {{ post.excerpt }}
    <article>
    <div class="post-more">
      <a href="{{ site.baseurl }}{{ post.url }}">Далее</a> <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/">Назад</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Назад</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Назад</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Вперед</a>
  {% else %}
    <span class="pagination-item older">Вперед</span>
  {% endif %}
</div>

