
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #4285f4;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$white:      #fff;
$black:      #000;
$lightgrey:  #c0c0c0;

$accent: $blue;
$accent-hover: darken($accent, 10%);

/* Layout */
$reverse-layout: true;
$overlay-sidebar: false;

/* Font stack */
$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "Roboto", Helvetica, Arial, sans-serif;