a {
    -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
}

.content {
    a {
        color: $accent;
        text-decoration: none;
    }
    a:hover {
        color: $accent-hover;
    }
}

.posts {
    a:hover {
        text-decoration: underline;
    }
}

.post-title {
    font-weight: 400;
    margin: 0;
}
.post-date {
    font-size: .65rem;
    color: $lightgrey;
    margin: 0;
    a {
        border: none;
    }
}
.post-img {
    margin: 1rem auto;
}
.list-img {
    float: left;
    height: 150px;
    margin: .5rem .5rem .5rem 0;
}
@media (max-width: 38em) {
    .list-img {
      float: none;
      height: 100%;
    }
}

// Tags
.post-tag {
  display: inline-block;
  background: rgba($accent, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $accent;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $accent;
    color: $white;
  }
  transition: all .1s ease-in-out;
  span {
      font-size: 75%;
  }
}

.tags-expo {
  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    @media (min-width: 38em) {
      font-size: 0.9rem;
      .post-tag {
        margin: .2em .3em;
      }
    }
  }
  .tags-expo-section {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      li {
        transition: all .1s ease-in-out;
        padding: 0 1rem;
        &:hover {
          list-style-type: disc;
          padding: 0 .5rem;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .post-date {
      display: inline-block;
      font-size: 70%;
      color: $lightgrey;
      margin: 0;
      padding: 0;
    }
  }
}

// sidebar
.sidebar {
    opacity: .95;
    &:hover {
        opacity: 1;
    }
}

// pagination

// back-top
#scrollup {
	font-size: 2rem;
	color: $lightgrey;
	position: fixed;
	z-index: 1000;
	opacity: 0.8;
	padding: 0 10px;
	background: $accent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 20px;
	bottom: 20px;
	display: none;
	cursor: pointer;
}












