
.content {
    a {
        color: #4285f4;
        text-decoration: none;
        border-bottom: 1px solid #0055cc;
        -webkit-transition: all .5s ease;
         -moz-transition: all .5s ease;
           -o-transition: all .5s ease;
              transition: all .5s ease;
    }
    a:hover,
    a:focus {
        color: #1565c0;
        text-decoration: none;
        border-bottom: 2px solid #0055cc;
    }
}

