a {
    -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
a:hover,
a:focus {
    text-decoration: none;
}

.content {
    a {
        color: $accent;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: $accent-hover;
        border-bottom: 1px dashed $accent-hover;
    }
}

.post-date {
    font-size: .65rem;
    color: $lightgrey;
    a {
        border: none;
    }
}
