<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay theme-base-0d">

    {% include sidebar.html %}
    

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-title">
            <a href="{{ site.url }}/blog/" title="Home">{{ site.title }}</a> blog
            <small>{{ site.tagline }}</small>
          </div>
        </div>
      </div>

      <div class="container content">
          <div class="content-wrap" id="pjax-container">
            {{ content }}
          </div>
            {% include sidebar-right.html %}
      </div>
      
    </div>
    
    <div id="scrollup"><i class="fa fa-chevron-circle-up up" aria-hidden="true"></i></div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.url }}/public/js/jquery.scroolly.js"></script>
    <script src="{{ site.url }}/public/js/likely.js"></script>
    <script src="{{ site.url }}/public/js/main.js"></script>
    <script>if((self.parent&&!(self.parent===self))&&(self.parent.frames.length!=0)){self.parent.location=document.location}</script>
    
  </body>
</html>
