---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  
  <div class="post-date">
        <time datetime="{% include date.html date=post.date %}">
          <i class="fa fa-calendar" aria-hidden="true"></i> {% include date.html date=post.date %} | 
        </time>
        {% for categories in post.categories %}
            <i class="fa fa-folder-o" aria-hidden="true"></i> <a class="tag-box" href="{{categories}}/">{{ categories }}</a> | 
        {% endfor %}
        {% if site.disqus_shortname %}
          <i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>&nbsp;
        {% endif %}
    </div>
    
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include disqus.html %}