---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  
   <div class="post-date">
        <time datetime="{% include date.html date=page.date %}">
          <i class="fa fa-calendar" aria-hidden="true"></i> {% include date.html date=page.date %} | 
        </time>
        {% for categories in page.categories %}
            <i class="fa fa-folder-open-o" aria-hidden="true"></i> <a href="{{categories}}/">{{ categories }}</a> | 
        {% endfor %}
        
        {% if page.comments %}
           <i class="fa fa-commenting-o" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>
        {% endif %}
    </div>
    
  {% if page.post_photo_path %}<img class="post-img" src="{{ page.post_photo_path }}" alt="{{ page.title }}">{% endif %}
    
  {{ content }}
</div>

<div class="related">
  <h3>Рекомендуем</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
          <small>{% include date.html date=post.date %}</small>
      </li>
    {% endfor %}
  </ul>
</div>

<a href="{{post.id}}" data-disqus-identifier="{{post.id}}">Leave a comment</a>
{% if site.disqus_shortname %}
  {% include disqus.html %}
{% endif %}